<div class="navigation">
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="leaders">Leaders</a></li>
        <li><a href="areas">Areas</a></li>
        <li><a href="universities">Universities</a></li>
        <li><a href="contact">Contact Us</a></li>
    </ul>
</div>