<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="./css/areas.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <%- include('_navbar'); %>
            <h2>The United Arab Emirates consists of seven emirates, which were historically known as the Trucial States.
            </h2>
            <p>Islam is the official religion and Arabic is the official language. </p>
            <p>The United Arab Emirates' oil and natural gas reserves are the world's sixth and seventh-largest, respectively.</p>
            <h1>The Seven Emirates are :</h1>
        </div>
        
    </header>

    <section>
        <h1 class="emirate">1)Emirate of Abu Dhabi – <span>THE CAPITAL EMIRATE </span></h1>
        <article>
            Abu Dhabi, the largest emirate in the UAE, is also the country’s capital. The name Abu Dhabi in Arabic
            translates to “land of the gazelle.” Legend is that the name originated when a young gazelle led a lost
            tribe to fresh water on an island with some coral buildings, a fort and some 300 palm frond huts. The tribe
            settled there, marking the beginning of modern Abu Dhabi. Abu Dhabi has many sites and attractions that
            include the Sheikh Zayed Mosque, Mariam Umm Eisa Mosque, Emirates Palace, Yas Marina Circuit, The Corniche,
            Hayyatii Towers, Etihad Towers, Yas Marina, Yas Waterworld Abu Dhabi ,Ferrari World Abu Dhabi, Louvre Abu
            Dhabi, Yas Island, Saadiyat Island, Jubail Mangrove Park.
            <div class="milestone">
                <div class="sites">
                    <h1>The Sheikh Zayed Grand Mosque </h1>
                    <details style="font-size: 2rem;">
                        <div class="image"><img src="./images/Sheikh Zayed Grand Mosque.jpg"
                                alt="Sheikh Zayed Grand Mosque" srcset=""></div>
                        <p> <b>The Sheikh Zayed Grand Mosque </b> largest mosque in the country, it is the key place of
                            worship for daily prayers. During Eid, it was visited by more than 41,000 people.The Grand
                            Mosque was constructed between 1996 and 2007. The mosque's architect Yusef Abdelki took
                            inspiration from a number of sources: the Abu al-Abbas al-Mursi Mosque in Alexandria,
                            designed by Mario Rossi in the 1920s;the Badshahi Mosque in Lahore, Pakistan. and other
                            references of Persian, Mughal, and Indo-Islamic architecture. The dome layout and floorplan
                            of the mosque was inspired by the Badshahi Mosque. Its archways are quintessentially
                            Moorish, and its minarets classically Arab.</p>
                    </details>
                </div>
                <div class="sites">
                    <h1>Mary, Mother of Jesus Mosque</h1>
                    <details>
                        <div class="image"><img src="./images/Mary Mother of Jesus Mosque.png"
                                alt="Mary Mother of Jesus Mosque" srcset=""></div>
                        <p><b>Mary, Mother of Jesus Mosque</b> It was built in 1989 as Mohammed Bin Zayed Mosque, and
                            named after Mohammed bin Zayed Al Nahyan, Crown Prince of Abu Dhabi.

                            On 14 June 2017, Sheikh Mohammed bin Zayed Al Nahyan decided to rename the mosque to "Mary,
                            Mother of Jesus Mosque". The change was done as an initiative exemplifying the values of
                            co-existence among religions in the UAE.</p>
                    </details>
                </div>
                <div class="sites">
                    <h1>Etihad Towers</h1>
                    <details>
                        <div class="image"><img src="./images/EtihadTowers.jpg" alt="EtihadTowers" srcset=""></div>
                        <p> <b>Etihad Towers</b> is a complex of buildings with five towers in Abu Dhabi.The towers are
                            located opposite the Emirates Palace hotel and feature offices, apartments and a hotel.The
                            estimated cost for the construction was 2.5 billion Dirhams. Towers 2 and 5 topped out in
                            November 2010.</p>
                    </details>
                </div>
            </div>
        </article>

        <h1 class="emirate">2)DUBAI – THE HAPPENING MULTICULTURAL DESTINATION</h1>
        <article>
            The largest Emirate, rich in both coastal vistas, a modern city skyline and deep desert sand dunes through
            to Saudi Arabia and Oman, known as “the Empty Quarter”. The vast majority of the UAE’s oil is found here,
            and in the adjacent Arabian Gulf.
            Multicultural Dubai is home to people of more than 200 nationalities. The most globally high profile of the
            emirates, Dubai is known for its modern skyscrapers, extravagant landmarks, star-studded skyline, vibrant
            nightlife and high-end shopping experiences.

            The emirate’s economy is majorly driven by its real estate and tourism sector. However, this was not always
            so. One of the interesting facts about Dubai is that until the 1700s, Dubai’s economy relied heavily on
            fishing and pearl farming. Similarly, the history of Dubai architecture is also quite exciting.
            <div class="milestone">
                <div class="sites">
                    <h1>Corniche City Skyline</h1>
                    <details>
                        <div class="image"><img src="./images/corniche.jpg" alt="corniche" srcset=""></div>
                        <p> <b>Corniche City Skyline</b>The Corniche (or Corniche Road) is located in the city of Abu
                            Dhabi, the capital of the United Arab Emirates.The Corniche is 8 km long, and includes
                            children's play areas, separate cycle and pedestrian pathways, restaurants, cafés and the
                            Corniche Beach.

                            It forms a sweeping curve on the western side of the main Abu Dhabi island and is replete
                            with cycle paths, fountains and park areas. Between 2002 and 2004, land was reclaimed from
                            the sea and the Corniche was extended. Some of the earlier landmarks - the volcano fountain
                            and Abu Dhabi clocktower - were demolished in the process. Certain parts of the Corniche
                            have significant deposition of sand, with people using the area as a public beach. Prior to
                            the 1970s, the current area occupied by the Corniche was a beach, where dhows and ships used
                            to anchor and transfer cargo or people; at the time, the Mina Zayed area was not yet
                            constructed.</p>
                    </details>
                </div>
                <div class="sites">
                    <h1>Burj Khalifa </h1>
                    <details>
                        <div class="image"><img src="./images/Burj Khalifa.jpg" alt="Burj Khalifa" srcset=""></div>
                        <p><b>Burj Khalifa</b>The Burj Khalifa known as the Burj Dubai prior to its inauguration in
                            2010, is a skyscraper in Dubai, United Arab Emirates. With a total height of 829.8 m (2,722
                            ft) (just over half a mile) and a roof height (excluding antenna, but including a 244 m
                            spire) of 828 m (2,717 ft), the Burj Khalifa has been the tallest structure and building in
                            the world since its topping out in 2009, supplanting Taipei 101, the previous holder of that
                            status.</p>
                    </details>
                </div>
                <div class="sites">
                    <h1>Palm Jumeirah</h1>
                    <details>
                        <div class="image"><img src="./images/Palm Jumeirah.jpg" alt="Palm Jumeirah" srcset=""></div>
                        <p> <b>Palm Jumeirah</b> The Palm Jumeirah is an archipelago of artificial islands in Dubai, in
                            the United Arab Emirates, created using land reclamation which extends into the Persian
                            Gulf. It is part of a larger series of developments called the Palm Islands, including Palm
                            Jebel Ali and Palm Deira, which, when completed, will together increase Dubai's shoreline by
                            a total of 520 kilometres (320 mi). It has an estimated population of at least 10,000 as of
                            2017. It is located on the Jumeirah coastal area of the emirate of Dubai, in the United Arab
                            Emirates.</p>
                    </details>
                </div>
            </div>
        </article>

        <h1 class="emirate">3)SHARJAH – THE CULTURAL HUB</h1>
        <article>
            The largest Emirate, rich in both coastal vistas, a modern city skyline and deep desert sand dunes through
            to Saudi Arabia and Oman, known as “the Empty Quarter”. The vast majority of the UAE’s oil is found here,
            and in the adjacent Arabian Gulf.
            Multicultural Dubai is home to people of more than 200 nationalities. The most globally high profile of the
            emirates, Dubai is known for its modern skyscrapers, extravagant landmarks, star-studded skyline, vibrant
            nightlife and high-end shopping experiences.

            The emirate’s economy is majorly driven by its real estate and tourism sector. However, this was not always
            so. One of the interesting facts about Dubai is that until the 1700s, Dubai’s economy relied heavily on
            fishing and pearl farming. Similarly, the history of Dubai architecture is also quite exciting.
            <div class="milestone">
                <div class="sites">
                    <h1>KHALID LAGOON</h1>
                    <details>
                        <div class="image"><img src="./images/KHALID LAGOON.jpg" alt="KHALID LAGOON" srcset=""></div>
                        <p> <b>KHALID LAGOON</b>
                            The Khalid Lagoon is an artificially created water body that spans over 1,720,000 square
                            hectares. The lagoon has led to the formation of a corniche that offers family-friendly
                            activities for evening leisure. The Al Noor Island is one of the many things to look forward
                            to at the Khalid Lagoon.
                        </p>
                    </details>
                </div>
                <div class="sites">
                    <h1>SHARJAH ART MUSEUM</h1>
                    <details>
                        <div class="image"><img src="./images/SHARJAH ART MUSEUM.jpg" alt="SHARJAH ART MUSEUM"
                                srcset=""></div>
                        <p><b>SHARJAH ART MUSEUM</b>Art lovers with a genuine appreciation for skills and techniques
                            will consider the Sharjah Art Museum to be an absolute art haven. With a mix of permanent
                            and temporary displays, the museum gives celebrated local and regional artists a chance to
                            showcase their work and interact with those who connect with it. </p>
                    </details>
                </div>
                <div class="sites">
                    <h1>AL NOOR MOSQUE
                    </h1>
                    <details>
                        <div class="image"><img src="./images/AL NOOR MOSQUE.jpg" alt="AL NOOR MOSQUE
                                " srcset=""></div>
                        <p> <b>AL NOOR MOSQUE
                            </b>You can spot beautiful mosques across the 7 emirates of the UAE, but Al Noor Mosque
                            stands apart because of its traditional Ottoman-style architecture. Al Noor Mosque in
                            Sharjah is also one of the four mosques offering mosque tours in the UAE. Besides a place of
                            worship, the mosque also serves as a destination for learning more about Islamic culture and
                            history.</p>
                    </details>
                </div>
            </div>
        </article>

        <h1 class="emirate">4)AJMAN – TRADITIONAL MEETS MODERN</h1>
        <article>
            The smallest of the 7 emirates of the UAE, Ajman has its fair share of spectacular nature and age-old
            traditions. Bordered by the Arabian Gulf on one side and the Hajar Mountains on the other, Ajman’s landscape
            offers several pristine beaches and plenty of activities for visitors.

            The emirate effortlessly balances its traditions with modernised, up-to-date services and urban development
            aligned with the UAE Vision 2050.
            <div class="milestone">
                <div class="sites">
                    <h1>AJMAN DHOW BUILDING YARD</h1>
                    <details>
                        <div class="image"><img src="./images/AJMAN DHOW BUILDING YARD.jpg"
                                alt="AJMAN DHOW BUILDING YARD" srcset=""></div>
                        <p> <b>AJMAN DHOW BUILDING YARD</b>
                            Bringing the age-old traditions of building dhows to the public eye, the Ajman Dhow Building
                            Yard is the world’s largest dhow construction yard. Traditional dhows, commonly used for
                            cruises, cargo shipping, fishing and pearling, are built from scratch without a blueprint at
                            the Ajman Dhow Building Yard.
                        </p>
                    </details>
                </div>

            </div>
        </article>

        <h1 class="emirate">5)UMM AL QUWAIN – THE FISHING HAVEN</h1>
        <article>
            The smallest of the 7 emirates of the UAE, Ajman has its fair share of spectacular nature and age-old
            traditions. Bordered by the Arabian Gulf on one side and the Hajar Mountains on the other, Ajman’s landscape
            offers several pristine beaches and plenty of activities for visitors.

            The emirate effortlessly balances its traditions with modernised, up-to-date services and urban development
            aligned with the UAE Vision 2050.
            <div class="milestone">
                <div class="sites">
                    <h1>UMM AL QUWAIN NATIONAL MUSEUM</h1>
                    <details>
                        <div class="image"><img src="./images/UMM AL QUWAIN NATIONAL MUSEUM.jpg"
                                alt="UMM AL QUWAIN NATIONAL MUSEUM" srcset=""></div>
                        <p><b>UMM AL QUWAIN NATIONAL MUSEUM</b>The Umm Al Quwain Museum is housed inside the former
                            residence of the emirate’s ruling family. It holds a display of the artefacts unearthed at
                            the Ed-Dur site. Besides that, the museum also showcases exhibits of historical wars in the
                            region. </p>
                    </details>
                </div>
                <div class="sites">
                    <h1>JEBEL JAIS
                    </h1>
                    <details>
                        <div class="image"><img src="./images/JEBEL JAIS.jpg" alt="JEBEL JAIS
                                " srcset=""></div>
                        <p> <b>JEBEL JAIS
                            </b>The ultimate adventure destination, Jebel Jais is much more than a towering 2,000-metre
                            tall mountain. </p>
                    </details>
                </div>
            </div>
        </article>

        <h1 class="emirate">6)Emirate of Fujairah</h1>
        <article>
            The Emirate of Fujairah is one of the seven emirates that make up the United Arab Emirates. The only of the seven with a coastline solely on the Gulf of Oman and none on the Persian Gulf, its capital is Fujairah.
            <div class="milestone">
                <div class="sites">
                    <h1>Khor Fakkan</h1>
                    <details>
                        <div class="image">
                            <img src="./images/Khor Fakkan.jpg" alt="Khor Fakkan">
                        </div>
                        <p><b>Khor Fakkan</b> is a city and exclave of the Emirate of Sharjah, located on the east coast of the United Arab Emirates (UAE), facing the Gulf of Oman, and geographically surrounded by the Emirate of Fujairah.The city, the second largest on the east coast after Fujairah City, is set on the bay of Khor Fakkan, which means "Creek of Two Jaws". It is the site of Khor Fakkan Container Terminal, the only natural deep-sea port in the region and one of the major container ports in the UAE</p>
                    </details>
                </div>
            </div>
        </article>

        <h1 class="emirate">7)Emirate of Ras Al Khaimah</h1>
        <article>
            Ras Al Khaimah (RAK) is one of the seven emirates that make up the United Arab Emirates (UAE). The city of Ras Al Khaimah, sometimes simply abbreviated to RAK or RAK City, is the capital of the emirate and home to most of the emirate's residents. It is linked to the Islamic trading port of Julfar. Its name in English means "headland of the tent". The emirate borders Oman's exclave of Musandam, and occupies part of the same peninsula.
            <div class="milestone">
                <div class="sites">
                    <h1>Dhayah Fort</h1>
                    <details>
                        <div class="image"><img src="./images/Dhayah Fort.jpg" alt="Dhayah Fort" srcset=""></div>
                        <p><b>Dhayah Fort</b>Dhayah Fort is an 18th-century fortification in Ras Al Khaimah, United Arab Emirates (UAE). It is the highest hilltop fort in the UAE and was the site of a battle during the Persian Gulf campaign of 1819, when British troops captured the fort after a brief siege.

                            The fall of Dhayah was to pave the way for the signing of the General Maritime Treaty of 1820, the first of a number of treaties between the British government and the Sheikhs, or rulers, of what would become known as the Trucial Coast.</p>
                    </details>
                </div>
            </div>
        </article>
    </section>

</body>

</html>