<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header>
        <div class="wrapper">
          <%- include('_navbar'); %>
            <h1></h1>
            <div id="info">
                <b>The United Arab Emirates (UAE)</b> is a country in Western Asia. It is located at the eastern end of
                the Arabian Peninsula, and shares borders with Oman and Saudi Arabia, while having maritime borders in
                the Persian Gulf with Qatar and Iran. Abu Dhabi is the nation's capital, while Dubai, the most populous
                city, is an international hub.
            </div>
        </div>
    </header>
    <section >
    <div class="UAE-Info">
        <div class="details" style="height: 25rem;">
            <div class="details-image">
                <img src="./images/UAE-flag.jpg" style="width: 35rem;" alt="UAE FLAG">
            </div>
            <div id="info">
                <h1>FLAG</h1>
                <span> The flag of the <b> United Arab Emirates</b> contains the Pan-Arab colors red, green, white, and
                    black. It was designed in 1971 by Abdullah Mohammed Al Maainah, who was 19 years old at that time,
                    and was adopted on 2 December 1971. The main theme of the flag's four colors is the unity of Arab
                    nations. In 2008, there was a minor change to the Emblem. </span>
            </div>
        </div>
        <div class="details" style="height: 30rem;">
            <div id="info">
                <h1>CULTURE</h1>
                <span>Emirati culture is based on Arabian culture and has been influenced by the cultures of Persia,
                    India, and East Africa. Arabian and Arabian inspired architecture is part of the expression of the
                    local Emirati identity. Arabian influence on Emirati culture is noticeably visible in traditional
                    Emirati architecture and folk arts. For example, the distinctive wind tower which tops traditional
                    Emirati buildings, the barjeel has become an identifying mark of Emirati architecture and is
                    attributed to Arabian influence. This influence is derived both from traders who fled the tax regime
                    in Persia in the early 19th century and from Emirati ownership of ports on the Arabian coast, for
                    instance the Al Qassimi port of Lingeh. </span>
            </div>
            <div class="details-image">
                <img src="./images/UAE-culture.jpg" style="width: 35rem;" alt="UAE-Culture" srcset="">
            </div>
        </div>
        <div class="details">
            <div class="details-image">
                <img src="./images/UAE-Tourism.jpg" style="width: 35rem;" alt="UAE-Culture" srcset="">
            </div>
            <div id="info">
                <h1>TOURISM</h1>
                <span>
                    Tourism acts as a growth sector for the entire UAE economy. Dubai is the top tourism destination in
                    the Middle East. According to the annual MasterCard Global Destination Cities Index, Dubai is
                    the fifth most popular tourism destination in the world. Dubai holds up to 66% share of the
                    UAE's tourism economy, with Abu Dhabi having 16% and Sharjah 10%. Dubai welcomed 10 million tourists
                    in 2013.

                    The UAE has the most advanced and developed infrastructure in the region. Since the 1980s, the
                    UAE has been spending billions of dollars on infrastructure. These developments are particularly
                    evident in the larger emirates of Abu Dhabi and Dubai. The northern emirates are rapidly following
                    suit, providing major incentives for developers of residential and commercial property.

                    The inbound tourism expenditure in the UAE for 2019 accounted for 118.6 percent share of the
                    outbound tourism expenditure.
                </span>
            </div>
        </div>
         <div class="details" style="height: 30rem;">
            <div id="info">
                <h1>LANGUAGE</h1>
                <span>Arabic is the national language of the United Arab Emirates. The Gulf dialect of Arabic is spoken natively by Emirati people.The area was occupied by the British until 1971 and, with many expatriates resident, English is the primary lingua franca in the UAE. Consequently, a knowledge of English is a requirement when applying for most local jobs.</span>
            </div>
        </div>
    </div>
    </section>
</body>

</html>