<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="./css/university.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <%- include('_navbar'); %>
                <h1>Top Universities in UAE</h1>
        </div>
    </header>
    <section>
        <h1>United Arab Emirates University </h1>
        <article>
            <div class="first-Uni University">
                <div class="UAE-University">
                    <div class="image">
                        <img src="./images/UAEU2.jpg" alt="UAEU" srcset="">
                    </div>
                    <div class="detail">
                        The United Arab Emirates University (UAEU) was founded by the late Sheikh Zayed bin Sultan Al Nahyan
                        in 1976 – the oldest and largest university in the UAE.
    
                        UAEU is located in Al Ain – also known as the city of the Oasis which features their iconic green
                        hilly-park and their highest mountain, Green Mubazzara and Jebel Hafeet.UAEU is also known as a
                        comprehensive, research-intensive university committed to innovation and excellence in teaching and
                        research. UAEU promotes independent thinking based on academic excellence. The university employs
                        some of the world’s leading academics whose research feeds into their teaching, thus creating a
                        dynamic, engaging, and inspiring learning environment. The success of UAEU is driven by its
                        exceptional staff, students and alumni, underpinned by modern curricula, visionary research
                        projects, and an outstanding network of international collaborations with companies, organizations,
                        and other academic institutions.
    
                    </div>
                </div>
            </div>
    
        </article>
        <h1>American University of Sharjah </h1>
       <article>
        <div class="second-Uni University">
            <div class="AUS-University">
                <div class="image">
                    <img src="./images/American-University-of-Sharjah.jpg" alt="American-University-of-Sharjah"
                        srcset="">
                </div>
                <div class="detail">
                    The American University of Sharjah (AUS) is ranked seventh in the Arab region rankings and joint
                    348th in the global rankings. Licensed both in the UAE and in the US, AUS offers courses based on
                    the US model of higher education, and is a popular choice among international students, resulting in
                    a very diverse student body. It’s located in Sharjah, which was a new entry in the QS Best Student
                    Cities 2016.It Founded in 1997, American University of Sharjah (AUS) is an independent, non-profit,
                    coeducational institution of higher education formed on the American liberal arts model.

                    Acclaimed for its academic excellence and multicultural environment, AUS integrates broad-based
                    liberal arts education with professional education studies. More than 90 nationalities are
                    represented in the student body.

                    AUS offers 28 majors and 45 minors at the undergraduate level, 16 master’s degrees and three PhD
                    programs through the College of Architecture, Art and Design; the College of Arts and Sciences; the
                    College of Engineering; and the School of Business Administration.

                </div>
            </div>
        </div>
       </article>

        <h1>Khalifa University </h1>
        <article>
            <div class="third-Uni University">
                <div class="KU-University">
                    <div class="image">
                        <img src="./images/Khalifa University.jpg" alt="Khalifa University"
                            srcset="">
                    </div>
                    <div class="detail">
                        In 2017, UAE President and Ruler of Abu Dhabi, His Highness Sheikh Khalifa bin Zayed Al Nahyan, issued a decree to merge the Khalifa University of Science, Technology and Research, the Masdar Institute of Science and Technology, and The Petroleum Institute under one university called the Khalifa University of Science and Technology (Khalifa University).Khalifa University is now a comprehensive research-intensive university with three colleges, three research institutes, 18 research centers, and 36 departments covering a broad range of disciplines in science, engineering, and medicine. The internationally top-ranked university is the one university in the UAE with the research and academic programs that address the entire range of strategic, scientific and industrial challenges facing the UAE’s knowledge economy transformation and our rapidly evolving world.It Ranked joint 211th in the world and ninth in the 2021 Arab region rankings.
                    </div>
                </div>
            </div>
        </article>

        <h1> University of Sharjah</h1>
        <article>
            <div class="fourth-Uni University">
                <div class="UOS-University">
                    <div class="image">
                        <img src="./images/University of Sharjah.jpg" alt=" University of Sharjah"
                            srcset="">
                    </div>
                    <div class="detail">
                        The University of Sharjah (UOS) is a private non-profit national university established in 1997 by its founder, president and chairman, the Ruler of Sharjah His Highness Sheikh Dr. Sultan bin Mohamed Al-Qassimi. The University of Sharjah ranks 601-650 in the QS World University Rankings and 16th in the Arab region rankings.
    
                        Located in the Emirate of Sharjah/UAE, UNESCO’S Cultural Capital of the Arab and Islamic World. It is a five-minute drive from Sharjah International airport, 15 minutes from Dubai Airport and two hours from Abu Dhabi, the capital of the UAE.
                        
                        UoS and its three Branches in AlDhaid; Khor Fakkan and Kalba is spread on 350,000 m.sq. houses 12 degree granting colleges three research centers, three theaters.
                    </div>
                </div>
            </div>
        </article>

        <h1>American University in Dubai (AUD)</h1>
       <article>
        <div class="fifth-Uni University">
            <div class="UOS-University">
                <div class="image">
                    <img src="./images/American University in Dubai.jpg" alt="American University in Dubai"
                        srcset="">
                </div>
                <div class="detail">
                    The American University in Dubai (AUD) is a private university which was established in 1995, ranked 601-650 in the global rankings and 26th in the Arab region rankings. Around 2,585 students are enrolled, with 108 nationalities represented within the student body. The university has both US and UAE accreditation for all of its programs, and offers intensive English language programs at its Center for English Proficiency (CfEP), to develop the language skills of students before they commence their studies.
                </div>
            </div>
        </div>
       </article>
    </section>
</body>

</html>