*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url(../../Fonts/static/OpenSans/OpenSans-Light.ttf);
  }
::selection{
    background: #D6ED17FF;
    color: #606060FF;
}
.wrapper::before{
    content: "";
    background-image: url('../images/Dubai.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.65;
}
.wrapper{
    
    height: 35rem;
    // border: 2px solid red;
    color: #dc3545;
    // top: 0rem;
    .navigation{
        margin-top: 1rem;
    }
.navigation .navbar{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    // border: 2px solid red;
    height: 5rem;
    li{
        list-style: none;   
        // border: 2px solid blue;
        height: 5rem;
        text-align: center;
        padding: 1rem;
        color: white;
        a{
            text-decoration: none;
            border: 2px solid black;
            color: #0dcaf0;
            font-size: 2.5rem;
            padding: 0.5rem 3rem;
            height: 5rem;
            border-radius: 6.5rem;
            transition: all 0.5s ease-in-out;
            
    }
    
}

}
#info{
    // border: 1px solid blue;
    margin-top: 3rem;
    padding: 2rem 3rem;
    font-size: 2rem;
    opacity: 1;
    word-spacing: 1rem;
}
}
.navbar li a:hover{
    background-color: #ffc107;
    color: black;             
}

section::before{
    content: "";
    background-image: url('../images/uae-flag.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.50;
}
section{
    position: relative;
    // border: 1px solid black;
    top: 34rem;
}
.UAE-Info{
    // border: 2px solid red;
    height: 100%;
    width: 80%;
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    .details{
        display: flex;
        margin-top: 3rem;
    }
    .details-image img{
        display: inline-block;
        height: 100%;
        width: 25rem;
    }
    #info{
        
        display: inline-block;
        // border: 1px solid black;
        padding: 1.5rem 2rem;
        h1{
            margin-bottom: 1rem;
        }
    }
}